body {
  min-height:100%;
}

#top-menu{
  div.container div{
    float:left;
    margin: 10px 5px;
  }
  background-color:white;
}

#gallery{
  padding-top:20px;
  background-color:#ccc;
  min-height:100vh;
}

.image-frame{
  width:100px;
  float:left;
  margin: 5;
}
