{% extends 'base.html' %} {% load staticfiles %} {% block main-body %}
<div id="top-menu">
    <div class="container">
        <div class="title-logo">
            <a href="" class="navbar-brand">
                <img src="{% static 'images/logo-web.svg' %}" alt="{{title}}"></a>
        </div>
        <form enctype="multipart/form-data" id="upload-file" action="{% url 'search:index' %}" method="post" class="dropzone">
            {% csrf_token %}
            <!-- <div id="upload-file" class="form-group is-empty is-fileinput"> -->
            <!-- <input type="file" multiple="" id="inputFile3">
                <a class="btn btn-raised btn-danger" href="#"><i class="material-icons">file_upload</i> Upload sample gambar </a>
                <span class="material-input"></span></div> -->
        </form>
    </div>
</div>

<div id="gallery" class="container-fluid">
    <p class="seconds"></p>
    <div class="row">
        <div class="col-md-12"></div>
    </div>
</div>
{% endblock main-body %}


{% block extra-scripts %}
<script src="{% static 'bower_components/dropzone/dist/dropzone.js' %}" charset="utf-8"></script>

{% verbatim %}
<script id="image-template" type="text/x-handlebars-template">
  <div class="image-frame">
    <img class="img-responsive" src="{{ image_path }}" alt="" style="max-width:100px">
  </div>
</script>
{% endverbatim %}

<script>
    // add dropzone
    $(function() {
        'use strict';
        var source = $("#image-template").html();
        var template = Handlebars.compile(source);

        Dropzone.options.uploadFile = {
            parallelUploads: 100,
            paramName: 'file',
            maxFiles: 1,
            acceptedFiles: 'image/*',
            success: function(event, response) {
                var res = response;
                console.log(res)

                $("#gallery .seconds").text(res.seconds + " detik")
                for (var i = 0; i < res.images.length; i++) {
                  var context = { image_path: res.images[i] };
                  var render = template(context);
                  $('#gallery .col-md-12').append(render);
                }
            },
            // error: function(file, errorMessage, xhr){
            //   alert(errorMessage);
            //   this.removeFile(file);
            // },
            // success: function(file){
            //   this.removeAllFiles();
            // }
        }
    });
</script>
{% endblock extra-scripts %}
