{% load staticfiles %}

<html>
<head>
  <title>Cari logo</title>
  <link rel="shortcut icon" href="{% static 'images/logo_ico.png' %}">
  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}">
  <link rel="stylesheet" href=" {% static 'stylesheets/screen.css' %}">
  <!-- Custom styles -->
  <link rel="stylesheet" href="">
  {% block extra-styles %}{% endblock extra-styles %}
</head>
<body>
  {% block main-body %}{% endblock main-body %}

  <script src="{% static 'bower_components/jquery/dist/jquery.js' %}" charset="utf-8"></script>
  <script src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}" charset="utf-8"></script>
  <script src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}" charset="utf-8"></script>
  {% block extra-scripts %}{% endblock extra-scripts %}
</body>
</html>
