{% load staticfiles %}

<html>
<head>
  <title>Cari logo</title>
  <link rel="shortcut icon" href="{% static 'images/logo_ico.png' %}">
  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}">
  <link rel="stylesheet" href=" {% static 'stylesheets/screen.css' %}">
  <!-- Custom styles -->
  <link rel="stylesheet" href="">
  {% block extra-styles %}{% endblock extra-styles %}
</head>
<body>
  {% block main-body %}{% endblock main-body %}

  <script src="{% static 'bower_components/jquery/dist/jquery.js' %}" charset="utf-8"></script>
  <script src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}" charset="utf-8"></script>
  <script src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}" charset="utf-8"></script>
  <script src="{% static 'bower_components/handlebars/handlebars.js'%}" charset="utf-8"></script>
  <script>
      // using jQuery
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
  </script>
  {% block extra-scripts %}{% endblock extra-scripts %}
</body>
</html>
